<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="IImageInfoIntegratorAssemblyFile" value="AnnotationImgExporter.dll" />
        <add key="IImageInfoIntegratorType" value="AnnotationImg.Services.AnnotationImgExporter" />
        <add key="BorderBrushColor" value="#FFFF0000" />
    </appSettings>
</configuration>